
<div class="layout">
<div class="vector">
    <img src="assets/images/register.png" class="regvector">
</div>
    <img src="assets/images/wahlogo.png" class="whlogo">
    
    

    <p id="title">WAH <br> Cooperative</p>

    <h1>Get Started</h1>

    <p id="panel">Create an account to login</p>
    <form>
        
        <div class="text_field">
            <input type="text" name="name" placeholder="Name" required><br>
            <input type="text" name="email" placeholder="Email" required><br>
            <input type="password" name="pass" placeholder="Password" required><br>
            <input type="password" name="cpass" placeholder="Confirm Password" required><br>
        </div>
<div class="cb">

        <input type="checkbox"  id="checkbox"> 
       
</div>
        <div class="terms">
    
             I agree to the <a href="#" class="condition">Terms and Condition</a>

        </div>

        <input type="submit" value="Sign Up">

        <div id="account">

            Already have an account? <a href="#" class="login">Login</a>

        </div>
    </form>

</div>